export PYTHONPATH=$(pwd)/src
export R_HOME=$HOME/usr/bin/R
export GRB_LICENSE_FILE=$HOME/gruobi_license/gurobi.lic
# export GUROBI_HOME=$HOME/opt/gurobi1103/linux64
# export PATH="${PATH}:${GUROBI_HOME}/bin"
# export LD_LIBRARY_PATH="${LD_LIBRARY_PATH}:${GUROBI_HOME}/lib"